<center style="font-size: 26px"> <b>Проверка уровня знаний Python</b></center>

In [2]:
# обеспечиваем совместимость с Python 2 и 3
from __future__ import (absolute_import, division, print_function, unicode_literals)

# отключаем предупреждения дистрибутива Anaconda
import warnings
warnings.simplefilter('ignore')

**Описание датасета:**   
[Датасет вакансий с платформы HH.ru на Kaggle.com](https://www.kaggle.com/datasets/pavfedotov/heaadhunter-vacancies?resource=download&select=df2021-08-03.csv)

Нужный файл - df2021-08-03.csv.

- *vacancy* - наименование вакансии
- *url* - ссылка на вакансию
- *created* - дата и время создания
- *has_test* - наличие тестового задания в вакансии
- *salary_from* - нижняя граница значения заработной платы
- *salary_to* - верхняя граница значения заработной платы
- *currency* - валюта заработной платы
- *experience* - требуемый опыт
- *schedule* - тип рабочего графика
- *skills* - требуемые навыки
- *employer* - наименование работодателя
- *area* - наименование города
- *description* - описание вакансии

#### Загрузите датасет

In [ ]:
# ВАШ КОД ЗДЕСЬ

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

In [6]:
pd = pd.read_csv('df2021-08-03.csv')

In [ ]:
pd

### Практические задания:

#### 1. Изучите методы для сбора данных курсов валют в [API Центрального банка Российской Федерации](https://www.cbr.ru/development/SXML/) . Используя запросы к API, приведите значения заработной платы к рублям одним из вариантов: 1) простой вариант - на текущую дату  2) вариант посложнее - на дату создания (created).

Ответ 1 -- test_pd_no_nan
Ответ 2 -- pd_diff_test

In [60]:
# ВАШ КОД ЗДЕСЬ
#создаем лист/список из доменов столбца currency
currency = pd['currency'].tolist()
#print(len(currency))
curr_len = []
#узнаем какие валюты есть в таблице, для этого переводим лист в множество
mn_currency = set(currency)
print(mn_currency)#видим, что есть nan, евро, рубль и доллар. нам нужны eur & usd


#для сохранения оригинальной таблицы -- сохраним её в новую переменную
test_pd = pd
valuti = test_pd[test_pd['currency'].isin(['EUR', 'USD'])]#выбираем строки, где валюта не RUR и не nan
valuti
#выше я создал новую таблицу на основе данных иностр. валюты, чтобы оценить кол-во строк с иностр. валютой

{'RUR', nan, 'EUR', 'USD'}

,vacancy,url,created,has_test,salary_from,salary_to,currency,experience,schedule,skills,employer,area,description
19,Python Software Engineer,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-07T20:12:42+0300,False,3400.0,NaN,EUR,От 1 года до 3 лет,Полный день,Python;PostgreSQL;SQL;Linux;Docker;asyncio;,Exness,Москва,"Кто мы? Мы финтех компания, разрабатывающая B2..."
123,Senior Python Back-end Developer (Remote),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-30T17:20:15+0300,False,NaN,3500.0,EUR,Нет опыта,Удаленная работа,Python;MySQL;Redis;MongoDB;asyncio;aiohttp;k8s;,AppFollow,Санкт-Петербург,AppFollow - это платформа для мониторинга прил...
142,"Python Developer (Люксембург, удаленно)",https://hh.ru/applicant/vacancy_response?vacan...,2021-07-30T13:09:00+0300,False,NaN,3500.0,USD,От 3 до 6 лет,Удаленная работа,Python;,Кадровое агентство Алексея Сухорукова,Новосибирск,"IT-компания, которая предоставляет своим клиен..."
145,Senior Python Back-end Developer (Remote),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-30T17:20:15+0300,False,NaN,3500.0,EUR,Нет опыта,Удаленная работа,Python;MySQL;Redis;MongoDB;asyncio;aiohttp;k8s;,AppFollow,Москва,AppFollow - это платформа для мониторинга прил...
175,Python Developer (Team Lead/Senior Python),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-31T15:44:36+0300,False,3500.0,6500.0,USD,Более 6 лет,Полный день,Python;PostgreSQL;Английский язык;Docker;Git;,Octra Inc.,Москва,"Привет, это команда Octra!Мы ищем опытного bac..."
191,Python Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-08-02T13:47:59+0300,False,4000.0,6000.0,USD,От 3 до 6 лет,Удаленная работа,Python;Django Framework;Git;SQL;PostgreSQL;REST;,Top Remote Talent,Москва,A Dubai based startup in the PropTech industry...
371,"Web-разработчик (React, Python)",https://hh.ru/applicant/vacancy_response?vacan...,2021-08-01T14:32:08+0300,False,800.0,3000.0,USD,От 1 года до 3 лет,Полный день,JavaScript;React;Python;,BeeJee,Санкт-Петербург,"Middle: 800$-1500$, Senior: 1500$-3000$ BeeJee..."
386,Senior Python Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-08-03T10:45:14+0300,False,3000.0,5000.0,USD,От 3 до 6 лет,Удаленная работа,AWS;Python;Docker;Kubernetes;Linux;CI/CD;,Top Remote Talent,Москва,A software development studio based in Israel ...
427,Python Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-31T16:11:46+0300,False,2000.0,NaN,EUR,От 1 года до 3 лет,Гибкий график,Python;Software Development;,OpenWeather,Москва,"We are OpenWeather: high-growth, energetic and..."
435,Senior Python Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-08-03T12:27:16+0300,False,3200.0,4200.0,USD,Более 6 лет,Удаленная работа,Redis;Elastic Search;MongoDB;MySQL;Python;Djan...,Incorra,Санкт-Петербург,Overview The USA-based startup is looking for ...
437,Senior Python Developer (удаленно),https://hh.ru/applicant/vacancy_response?vacan...,2021-08-02T15:34:31+0300,False,2500.0,4000.0,EUR,От 3 до 6 лет,Удаленная работа,Python;,Кадровое агентство Алексея Сухорукова,Новосибирск,"Крупная компания, разрабатывающая уникальную м..."
465,Senior Backend-разработчик (Python),https://hh.ru/applicant/vacancy_response?vacan...,2021-08-02T14:44:17+0300,False,NaN,4500.0,USD,От 3 до 6 лет,Удаленная работа,Django Framework;Английский язык;SQL;Python;,Hoodies,Москва,"Друзья, привет. Нам в команду Hoodies нужен se..."
478,Lead Python Developer (remote),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-31T17:07:02+0300,False,3500.0,5500.0,EUR,Более 6 лет,Полный день,NaN,Reinvent Baltics,Санкт-Петербург,Reinvent Baltics — международная продуктовая к...
558,"Разработчик автоматических тестов GUI (Python,...",https://hh.ru/applicant/vacancy_response?vacan...,2021-07-31T20:07:28+0300,False,3000.0,NaN,USD,От 3 до 6 лет,Полный день,NaN,NetworkOptix,Москва,"Network Optix - американская компания, основан..."
601,Middle/Middle+ Python developer (Django/удален...,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-08T11:18:31+0300,False,NaN,4500.0,EUR,От 3 до 6 лет,Удаленная работа,Python;Django Framework;SQL;Redis;Django;Rabbi...,Cellar door,Санкт-Петербург,Мы ищем Middle+ Python разработчика (Django) д...
685,Python Backend Engineer (remote),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-24T01:35:28+0300,False,NaN,3500.0,EUR,От 1 года до 3 лет,Удаленная работа,Python;MySQL;Redis;MongoDB;asyncio;aiohttp;,AppFollow,Екатеринбург,AppFollow - это платформа для мониторинга прил...
694,Python Backend Engineer (remote),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-24T01:35:28+0300,False,NaN,3500.0,EUR,От 1 года до 3 лет,Удаленная работа,Python;MySQL;Redis;MongoDB;asyncio;aiohttp;,AppFollow,Санкт-Петербург,AppFollow - это платформа для мониторинга прил...
730,Python Backend Engineer (remote),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-24T01:35:28+0300,False,NaN,3500.0,EUR,От 1 года до 3 лет,Удаленная работа,Python;MySQL;Redis;MongoDB;asyncio;aiohttp;,AppFollow,Нижний Новгород,AppFollow - это платформа для мониторинга прил...
859,Machine Learning Engineer (Python),https://hh.ru/applicant/vacancy_response?vacan...,2021-08-02T09:24:38+0300,False,3000.0,5000.0,USD,От 1 года до 3 лет,Удаленная работа,Английский язык;Docker;Spark;Kafka;Kubernetes;...,Starnavi,Санкт-Петербург,StarNavi is looking for a Software Infrastruct...
900,Fullstack-developer (Python + JS),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-20T11:45:08+0300,False,2500.0,3500.0,USD,От 3 до 6 лет,Удаленная работа,Django Framework;JavaScript;Python;,BrainShells,Москва,"Сейчас мы находимся в поиске разработчика, жел..."
1077,Senior Software Engineer (Python),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-28T17:32:21+0300,False,6500.0,NaN,USD,Более 6 лет,Удаленная работа,Git;Linux;Английский язык;Apache Spark;Python;...,Дартс рекрутинг сервисез,Санкт-Петербург,"Нашему партнёру, одному из ведущих маркетингов..."
1216,Python developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-27T10:53:41+0300,False,1800.0,NaN,EUR,От 1 года до 3 лет,Удаленная работа,NaN,GamesBoost42,Москва,"Привет! Мы - холдинговая компания, основные на..."
1306,Fullstack Python Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-08-02T13:45:48+0300,False,2500.0,3000.0,EUR,Нет опыта,Удаленная работа,PostgreSQL;Python;Django Framework;Git;Английс...,EXANTE,Москва,"EXANTE — международная компания, которая заним..."
1312,"Web-разработчик (React, Python)",https://hh.ru/applicant/vacancy_response?vacan...,2021-08-01T14:32:11+0300,False,800.0,3000.0,USD,От 1 года до 3 лет,Полный день,JavaScript;React;Python;,BeeJee,Москва,"Middle: 800$-1500$, Senior: 1500$-3000$ BeeJee..."
1446,Python Backend Engineer (remote),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-24T01:35:28+0300,False,NaN,3500.0,EUR,От 1 года до 3 лет,Удаленная работа,Python;MySQL;Redis;MongoDB;asyncio;aiohttp;,AppFollow,Москва,AppFollow - это платформа для мониторинга прил...
1453,Python Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-21T10:07:09+0300,False,3500.0,4000.0,USD,От 1 года до 3 лет,Удаленная работа,Python;Django Framework;HTML5;MongoDB;Git;CSS3;,IT_Selection,Москва,"Уважаемые соискатели, наш клиент, молодая кали..."
1470,Senior Python Backend Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-08-02T19:19:16+0300,False,3000.0,NaN,USD,От 3 до 6 лет,Гибкий график,Python;Django Framework;Git;PostgreSQL;MySQL;N...,App in the Air,Москва,"Кто мы? App in the Air — российский стартап, в..."
1512,"Senior Python Developer (Кипр, Лимассол)",https://hh.ru/applicant/vacancy_response?vacan...,2021-07-29T13:38:48+0300,False,NaN,3300.0,EUR,От 3 до 6 лет,Полный день,Python;,Кадровое агентство Алексея Сухорукова,Новосибирск,"Крупная финтех компания, работающая на междуна..."
1627,Python back-end разработчик (Junior - Middle),https://hh.ru/applicant/vacancy_response?vacan...,2021-07-24T12:05:55+0300,False,1500.0,NaN,USD,Нет опыта,Удаленная работа,Git;Django Framework;Python;Linux;ООП;SQL;API;...,SFERA,Москва,В продуктовую разработку требуется Back-end ра...

In [7]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.5)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [8]:
import requests
from bs4 import BeautifulSoup

In [62]:
r = requests.get('https://www.cbr.ru/scripts/XML_daily.asp?date_req=13/04/2024')#получаем доступ к API на 13.04.24
soup = BeautifulSoup(r.content, features='xml')

In [63]:
currs = soup.find_all('CharCode')#ищем аббревиатуру
print(currs[13])
print(currs[14])

<CharCode>USD</CharCode>
<CharCode>EUR</CharCode>

In [9]:
import re
import numpy as np
import decimal
from decimal import * #для работы с числами с плавающей точкой

In [64]:
value = soup.find_all('Value')
print(value[13])
print(value[14])


#задаем переменные для валюты и делаем из них строки без тегов
eurx = value[14].text
usdx = value[13].text
getcontext().prec = 6#для числе после точки(decimal), но похоже, что это в данном коде не нужно

#ставлю плавающую точку
eur = eurx.replace(',', '.')
usd = usdx.replace(',', '.')

#меняю тип на decimal
dec_eur = Decimal(eur)# type не int, а decimal
dec_usd = Decimal(usd)

<Value>93,4419</Value>
<Value>99,7264</Value>

In [65]:
#тут я создаю списки индексов для последующей итерации
#создаем список, чтобы заполнить его индексом, это нужно для дальнейшего обращения к столбцам таблицы
idx_list = []
#это сохраниение индексов позиций с долларом и евро, вариант сохранения из всей таблицы
for idx, row in test_pd.iterrows():
    a = row[6]
    if a == 'USD' or a == 'EUR':
      idx_list.append(idx)
print(idx_list)


llist = []
#это сохраниение индексов позиций с долларом и евро, вариант сохранения из таблицы(valuti) с вакансиями за валюту
for idx,row in valuti.iterrows():
  llist.append(idx)
print(llist)

[19, 123, 142, 145, 175, 191, 371, 386, 427, 435, 437, 465, 478, 558, 601, 685, 694, 730, 859, 900, 1077, 1216, 1306, 1312, 1446, 1453, 1470, 1512, 1627]
[19, 123, 142, 145, 175, 191, 371, 386, 427, 435, 437, 465, 478, 558, 601, 685, 694, 730, 859, 900, 1077, 1216, 1306, 1312, 1446, 1453, 1470, 1512, 1627]

In [66]:
def f(x):#убираем плавающую точку у чисел в таблице
    try:
        if x.is_integer():
            return f'{x: .0f}'
        else:
            return x
    except:
        return x

In [67]:
test_pd_no_nan = pd.fillna(0) #заменяет nan на 0 с плавующей точкой
test_pd_no_nan = test_pd_no_nan.applymap(f)#убирает плавающую точку

In [68]:
test_pd_no_nan.loc[19][4]#проверка на плавающую точки и тип данных

' 3400'

In [69]:
test_pd_no_nan[19:20] #проверка на наличие плавающей точки и nan

,vacancy,url,created,has_test,salary_from,salary_to,currency,experience,schedule,skills,employer,area,description
19,Python Software Engineer,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-07T20:12:42+0300,False,3400,0,EUR,От 1 года до 3 лет,Полный день,Python;PostgreSQL;SQL;Linux;Docker;asyncio;,Exness,Москва,"Кто мы? Мы финтех компания, разрабатывающая B2..."

In [70]:
#Это сам код, который конвертирует валюту

#test_pd.loc[19][4] # salary from
#test_pd.loc[19][5] # salary to
#test_pd.loc[19][6] # currency


for i in llist:
  # salary_from = test_pd_no_nan.loc[i][4]
  # salary_to = test_pd_no_nan.loc[i][5]

  if test_pd_no_nan.loc[i, 'currency'] == 'EUR':
    eur_to_rub_from = int(test_pd_no_nan.loc[i][4]) * dec_eur #присваиваем переменной произведение (конвертацию) валюты в рубли для мин ЗП
    eur_to_rub_to = int(test_pd_no_nan.loc[i][5]) * dec_eur #присваиваем переменной произведение (конвертацию) валюты в рубли для макс ЗП
    test_pd_no_nan.loc[i, 'salary_from'] = eur_to_rub_from #меняем значение в столбцах с ЗП
    test_pd_no_nan.loc[i, 'salary_to'] = eur_to_rub_to #меняем значение в столбцах с ЗП

  elif test_pd_no_nan.loc[i, 'currency'] == 'USD':
    usd_to_rub_from = int(test_pd_no_nan.loc[i][4]) * dec_usd
    usd_to_rub_to = int(test_pd_no_nan.loc[i][5]) * dec_usd
    test_pd_no_nan.loc[i, 'salary_from'] = usd_to_rub_from
    test_pd_no_nan.loc[i, 'salary_to'] = usd_to_rub_to

  else:
    pass


#test_pd_no_nan.loc[19, 'salary_from'] #проверка на изменение ячейки


# res = 3400 * dec_eur проверка умножения на дробное число
# res
#test_curr

In [71]:
#заменяем ячейки, где раньше была иностранная валюта на RUR
for i in llist:
  if test_pd_no_nan.loc[i, 'currency'] == 'EUR' or test_pd_no_nan.loc[i, 'currency'] == 'USD':
    test_pd_no_nan.loc[i, 'currency'] = 'RUR'

In [ ]:
#проверяем валюту для строк, где была иностранная валюта
for i in llist:
  print(test_pd_no_nan.loc[i, 'currency'])

In [ ]:
#Итоговый вариант таблицы с изменёнными ЗП это test_pd_no_nan

### Итоговый вариант таблицы с изменёнными ЗП это **test_pd_no_nan**

# Задание посложнее

In [ ]:
pd

In [ ]:
pd_diff = pd.fillna(0) #заменяет nan на 0 с плавующей точкой
pd_diff = pd_diff.applymap(f)#убирает плавающую точку

In [ ]:
pd_diff[19:20]#проверка на плавающий ноль и nan

,vacancy,url,created,has_test,salary_from,salary_to,currency,experience,schedule,skills,employer,area,description
19,Python Software Engineer,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-07T20:12:42+0300,False,3400,0,EUR,От 1 года до 3 лет,Полный день,Python;PostgreSQL;SQL;Linux;Docker;asyncio;,Exness,Москва,"Кто мы? Мы финтех компания, разрабатывающая B2..."

In [ ]:
#Эта часть не влияет на код. Тут я проверял соотнесенность количества индексов, тестировал регулярку на дату... Я бы мог это удалить, но друг вам было бы интересно посмотреть "полигон"

# indexes = []
# for idx, row in pd_diff.iterrows():
#   indexes.append(idx)
# len(indexes)

# # print(a)

# kok = []

# for i in indexes:
#   a = re.search('\d{4}\-\d\d\-\d\d', f'{pd_diff.loc[i][2]}')
#   kok.append(a[0])
# # print(kok[19])

# # numbs = []
# # for numb in indexes:
# #   if pd_diff.loc[numb][6] == 'EUR' or pd_diff.loc[numb][6] == 'USD':
# #     numbs.append(numb)
# # print(len(numbs), '\n', len(llist))

# test_curr = pd_diff[pd_diff['currency'].isin(['EUR', 'USD'])]
# len(test_curr)

# for l in llist:
#   norm_date = re.match('\d{4}\-\d\d\-\d\d', f'{pd_diff.loc[l][2]}')
#   print(norm_date, '\t', pd_diff.loc[l][2])

In [ ]:
#тут я тоже проверял выделение даты с помощью  regexp, но уже с учетом итерации по строкам с нужными нам данными
#Выделяем даты из строк с иностр. валютой. После разбиваем дату на составляющие, чтобы поместить их в request для парсинга
for l in llist:
  norm_date = re.match('\d{4}\-\d\d\-\d\d', f'{pd_diff.loc[l][2]}')
  print(norm_date[0])
  slash_date = norm_date[0].replace('-', '/')#это не обязательно, но я почему-то решил это сделать... Наверное, чтобы сделать дату более похожей на ту, что указана в таблице. Можно удалить
  year = slash_date[0:4]
  month = slash_date[5:7]
  day = slash_date[8:10]

In [ ]:
#Создание нового запроса к сайту
#проверка замены даты
ddate = '2021/03/01'
year = ddate[0:4]
month = ddate[5:7]
day = ddate[8:10]


r_test = requests.get('https://www.cbr.ru/scripts/XML_daily.asp?date_req='+f'{day}/'+f'{month}/'+f'{year}')#получаем доступ к API на даты из таблицы
soup_test = BeautifulSoup(r_test.content, features='xml')
value_test = soup_test.find_all('Value')
currs_test = soup_test.find_all('CharCode')#ищем аббревиатуру

print(currs_test[10])
print(currs_test[11])
print(value_test[10])
print(value_test[11])
#код валюты не совпадает, поэтому пришлось поменять цифру для обращения на 10 и 11

<CharCode>USD</CharCode>
<CharCode>EUR</CharCode>
<Value>74,4373</Value>
<Value>90,3743</Value>

In [ ]:
#однако необходимо проверить, чтобы в течении 2021 года новые валюты не добалялись в API

check_eur = []#поскольку в множетве элементы не повторяются, занесем всё в этот список, а потом его преобразуем в множество
check_usd = []

for m in range(1, 10):
  r_s = requests.get('https://www.cbr.ru/scripts/XML_daily.asp?date_req='+f'01/'+f'0{m}/'+f'2021')#получаем доступ к API на даты из таблицы
  soup_s = BeautifulSoup(r_s.content, features='xml')
  value_s = soup_s.find_all('Value')
  currs_s = soup_s.find_all('CharCode')
  print(currs_s[10], '\t', currs_s[11])

#Если парсить каждый день и месяц, то на исполнение ячейки тратиться очень много времени, поэтому я ограничился только проверки первого дня месяца с января по сентябрь
#Итог: смещения не произошло

In [ ]:
pd_diff_test = pd_diff

In [ ]:
for d in llist:
  date_raw = re.match('\d{4}\-\d\d\-\d\d', f'{pd_diff.loc[d][2]}')
  date = date_raw[0]
  year = date[0:4]
  month = date[5:7]
  day = date[8:10]
  #print(date, '\t', year, '\n', '\t\t', month, '\n', '\t\t', day)
  r_diff = requests.get('https://www.cbr.ru/scripts/XML_daily.asp?date_req='+f'{day}/'+f'{month}/'+f'{year}')
  soup_diff = BeautifulSoup(r_diff.content, features='xml')
  value_diff = soup_diff.find_all('Value')
  currs_diff = soup_diff.find_all('CharCode')

  eur_diff = value_diff[11].text
  usd_diff = value_diff[10].text
  getcontext().prec = 6

  eur_y = eur_diff.replace(',', '.')
  usd_y = usd_diff.replace(',', '.')

  dec_eur_y = Decimal(eur_y)# type не int, а decimal
  dec_usd_y = Decimal(usd_y)

  #print(dec_eur_y, '\t', dec_usd_y, '\t', date)

  if pd_diff_test.loc[d, 'currency'] == 'EUR':
    eur_y_to_rub_from = int(pd_diff_test.loc[d][4]) * dec_eur_y
    eur_y_to_rub_to = int(pd_diff_test.loc[d][5]) * dec_eur_y
    pd_diff_test.loc[d, 'salary_from'] = eur_y_to_rub_from
    pd_diff_test.loc[d, 'salary_to'] = eur_y_to_rub_to

  elif pd_diff_test.loc[d, 'currency'] == 'USD':
    usd_y_to_rub_from = int(pd_diff_test.loc[d][4]) * dec_usd_y
    usd_y_to_rub_to = int(pd_diff_test.loc[d][5]) * dec_usd_y
    pd_diff_test.loc[d, 'salary_from'] = usd_y_to_rub_from
    pd_diff_test.loc[d, 'salary_to'] = usd_y_to_rub_to

  else:
    pass

In [ ]:
#далее меняем валюту eur usd на rur
for dig in llist:
  if pd_diff_test.loc[dig, 'currency'] == 'EUR' or pd_diff_test.loc[dig, 'currency'] == 'USD':
    pd_diff_test.loc[dig, 'currency'] = 'RUR'

In [ ]:
for sos in llist:
  print(pd_diff_test.loc[sos, 'currency'])

In [ ]:
pd_diff_test[19:20]

,vacancy,url,created,has_test,salary_from,salary_to,currency,experience,schedule,skills,employer,area,description
19,Python Software Engineer,https://hh.ru/applicant/vacancy_response?vacan...,2021-07-07T20:12:42+0300,False,295812,0.0000,RUR,От 1 года до 3 лет,Полный день,Python;PostgreSQL;SQL;Linux;Docker;asyncio;,Exness,Москва,"Кто мы? Мы финтех компания, разрабатывающая B2..."

In [ ]:
for o in llist:
  print(pd_diff_test.loc[o])

#### 2. Найдите вакансию с самой высокой заработной платой, где подойдет 4 года опыта работы и не нужно проходить тестовое задание.

Ответ: Вакансия под индексом 191 (Python Developer) с минимальным ЗП 373767.6000
и максимальным ЗП 560651.4000, опыт работы от 3 до 6 лет

In [ ]:
# ВАШ КОД ЗДЕСЬ
#для решения задачи был использован дата фрейм test_pd_no_nan, в котором конвертация посчитана на 13.04.2024
#шаблоны и индексы строк я ищу по дата фрейму pd

#вакансии, где указан опыт работы "от 1 года до 3 лет", тоже подходят, потому что меньшая дата не является ограничением
idxs = []

for idx, row in pd.iterrows():
  idxs.append(idx)
idxs

pd.loc[19][7]

In [36]:
pd.loc[0]

vacancy                    Backend/Full-stack developer (python)
url            https://hh.ru/applicant/vacancy_response?vacan...
created                                 2021-08-01T13:02:48+0300
has_test                                                   False
salary_from                                             120000.0
salary_to                                                    NaN
currency                                                     RUR
experience                                    От 1 года до 3 лет
schedule                                           Гибкий график
skills                            Python;PostgreSQL;Linux;Flask;
employer                                                  ATI.SU
area                                             Санкт-Петербург
description    Привет! Мы ATI.SU ― крупнейшая в России компан...
Name: 0, dtype: object

In [80]:
#найдем шаблоны описания опыта работы
exp = []

for i in idxs:
  sent = pd.loc[i][7]
  exp.append(sent)

mn_exp = set(exp)
mn_exp# из шаблонов нам подходят только 3

{'Более 6 лет', 'Нет опыта', 'От 1 года до 3 лет', 'От 3 до 6 лет'}

In [78]:
#получаем индекс строк, которые подходят под условия опыта работы
need_id = []
for id in idxs:
  if pd.loc[id, 'experience'] == 'Нет опыта' or pd.loc[id, 'experience'] == 'От 1 года до 3 лет' or pd.loc[id, 'experience'] == 'От 3 до 6 лет':
    if str(pd.loc[id, 'has_test']) == 'False':
      need_id.append(id)
#в need_id у нас собраны все нужыне нам строки, осталось найти из них вакансию с самой высокой оплатой

In [86]:
zz = 1000
if test_pd_no_nan.loc[19][4] >= zz:
  print('yes')
else:
  print('no')
test_pd_no_nan.loc[19][4]

yes

Decimal('339069.7600')

In [96]:
#в задании не указано, какой столбец (salary_from или salary_to) считать, поэтому найдем вакансии по каждому столбцу и затем сравним их
zp = 1
result_id = 0

for need in need_id:
  if int(test_pd_no_nan.loc[need][4]) >= int(zp):
    zp = test_pd_no_nan.loc[need][4]
    result_id = need
  else:
    pass
print(zp, '\t', result_id)

#ответ для from ЗП: 373767.6000 	 index: 191

373767.6000 	 191

In [97]:
zzp = 1
rresult_id = 0

for need in need_id:
  if int(test_pd_no_nan.loc[need][5]) >= int(zzp):
    zzp = test_pd_no_nan.loc[need][5]
    rresult_id = need
  else:
    pass
print(zzp, '\t', rresult_id)
#ответ для to ЗП: 560651.4000 	 index: 191

560651.4000 	 191

In [103]:
test_pd_no_nan[191:192]

,vacancy,url,created,has_test,salary_from,salary_to,currency,experience,schedule,skills,employer,area,description
191,Python Developer,https://hh.ru/applicant/vacancy_response?vacan...,2021-08-02T13:47:59+0300,False,373767.6000,560651.4000,RUR,От 3 до 6 лет,Удаленная работа,Python;Django Framework;Git;SQL;PostgreSQL;REST;,Top Remote Talent,Москва,A Dubai based startup in the PropTech industry...

In [ ]:
#тестовое задание не нужно проходить только на вакансиях с индексом ниже
for id in idxs:
  if str(pd.loc[id][3]) == 'True':
    print(id)

In [17]:
pd.loc[19][7]

'От 1 года до 3 лет'

#### 3. Сделайте рейтинг (топ-30) навыков по всем вакансиям.

In [177]:
# ВАШ КОД ЗДЕСЬ
#в данной ячейке проверяю регулярки
#все навыки записаны без пробелов через ';'
spisok = []


sss = pd_skills.loc[13][9]# в строке с индексом 12 в столбе skills стоит 0, до преобразования стояло NaN, нужно было проверить работу регулярки
sss
lss = re.findall('\w[A-Za-zА-Яа-яЁё]*', str(sss))
lss
# spisok.append(sss)

# spisok

['Python', 'Git', 'Linux', 'SQL', 'Английский', 'язык']

In [157]:
pd_skills.loc[13][9]

'Python;Git;Linux;SQL;Английский язык;'

In [ ]:
#сохраним индексы
inds = []


for idx, row in pd.iterrows():
  inds.append(idx)


inds

In [143]:
#создаю новую таблицу и убираю NaN, потому что в некоторых ячейках skills есть NaN
pd_skills = pd.fillna(0) #заменяет nan на 0 с плавующей точкой
pd_skills = pd_skills.applymap(f)

In [248]:
#пытаюсь подобрать регулярку, чтобы находить словосочетания (коллокации) от 1 до 4 слов. Регулярка получилась большой, думаю, что её можно улучшить и сделать меньше
lll = 'Английский язык; трамплин, поиск информации в интернете, работа в команде'
ddd = re.findall('\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*|\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*|\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*|\w[A-Za-zА-Яа-яЁё]*', lll)
ddd

['Английский язык',
 'трамплин',
 'поиск информации в интернете',
 'работа в команде']

In [ ]:
#\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*|\w[A-Za-zА-Яа-яЁё]*

In [ ]:
#тут я создаю список из ВСЕХ навыков


list_of_skills = []


for ind in inds:
  split = re.findall(
      '\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*|\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*|\w[A-Za-zА-Яа-яЁё]*\s\w[A-Za-zА-Яа-яЁё]*|\w[A-Za-zА-Яа-яЁё]*', str(pd_skills.loc[ind][9]))
  list_of_skills.append(split)

skills = []#все навыки вместе
for i in list_of_skills:
  for item in i:
    skills.append(item)
skills

In [238]:
from collections import Counter #функция для подсчета частотности

In [270]:
#считаю частотность


skills_c1 = Counter()
skills_c1.update(skills)
skills_c1['0'] = 0 #Замененные NaN приняли значение 0, поэтому я обнуляю значение индекса '0', чтобы оно не было включено в топ 30, а оно насчитывало 210 употреблений
print(skills_c1.most_common(30))
dic = dict(skills_c1.most_common(30))
spisok_of_skills = []


newline = '\n'
count = 0

for a, b in dic.items():
  spisok_of_skills.append(a)
print(spisok_of_skills)

#Решил создать отдельныей txt, где сохранил отсортированные топ 30 навыков
with open ('top 30 list of skills.txt', 'w', encoding = 'utf-8') as f:
  for skill in spisok_of_skills:
    count += 1
    res = f'{count}) {skill}{newline}'
    f.write(res)

[('Python', 1448), ('Git', 586), ('SQL', 508), ('PostgreSQL', 499), ('Django Framework', 467), ('Linux', 463), ('Flask', 178), ('Docker', 178), ('JavaScript', 149), ('Английский язык', 141), ('MySQL', 128), ('ООП', 120), ('MongoDB', 113), ('Redis', 107), ('C', 88), ('HTML', 80), ('REST', 71), ('RabbitMQ', 68), ('CSS', 66), ('Django', 63), ('Atlassian Jira', 52), ('API', 50), ('MS SQL', 43), ('Java', 43), ('Базы данных', 41), ('Работа в команде', 39), ('AWS', 36), ('Pytest', 35), ('Celery', 35), ('aiohttp', 33)]
['Python', 'Git', 'SQL', 'PostgreSQL', 'Django Framework', 'Linux', 'Flask', 'Docker', 'JavaScript', 'Английский язык', 'MySQL', 'ООП', 'MongoDB', 'Redis', 'C', 'HTML', 'REST', 'RabbitMQ', 'CSS', 'Django', 'Atlassian Jira', 'API', 'MS SQL', 'Java', 'Базы данных', 'Работа в команде', 'AWS', 'Pytest', 'Celery', 'aiohttp']

#### 4. Cоставьте топ-10 городов с наибольшей средней заработной платой по вакансиям тестировщика (QA).
Ответ: 'Тамбов' 250 000
'Санкт-Петербург' 88 809,
'Москва' 64 137,
'Казань' 30 000,
  'Новосибирск' 0,
 'Самара' 0,
  'Саратов' 0,
 У Тамбова только одна вакансия, поэтому такое среднее

In [296]:
# ВАШ КОД ЗДЕСЬ
#для решения задачи был использован дата фрейм test_pd_no_nan, в котором конвертация посчитана на 13.04.2024
#Если я правильно посчитал, то городов всего 7, поэтому составлю список из 7 городов
qa = re.findall('QA', pd.loc[4][0])

In [ ]:
test_pd_no_nan

In [ ]:
id_of_qa = []#индексы QA тестировщиков

for i in idxs:
  #qa_vacs = re.findall('QA', pd.loc[i][0])
  if re.findall('QA', pd.loc[i][0]):
    id_of_qa.append(i)
id_of_qa

In [ ]:
pd[4:25]

In [ ]:
test_pd_no_nan.loc[1][4]

In [ ]:
city = []


for id in id_of_qa:
  city.append(pd.loc[id][11])
print(city)
mn_city = set(city)
mn_city

In [ ]:
print(test_pd_no_nan.loc[26][4])
print(test_pd_no_nan.loc[26][5])

In [ ]:
#создадим списки для каждого города, в список положим зп
kazan = []
msk = []
nov = []
sam = []
spb = []
sar = []
tamb = []
#test_pd.loc[19][4] # salary from
#test_pd.loc[19][5] # salary to
id_kaz = []
id_msk = []
id_nov = []
id_sam = []
id_spb = []
id_sar = []
id_tamb = []

#поскольку в условиях не указаны условия подсчёта, я решил выбирать самое большое число из salary_from и salary_to
for id in id_of_qa:
  if test_pd_no_nan.loc[id][11] == 'Казань':
    id_kaz.append(id)
    if int(test_pd_no_nan.loc[id][4]) > 0:#если больше 0, то идем ниже иначе идем в else, где сохраняем salary_to(не важно 0 это или нет)
      if int(test_pd_no_nan.loc[id][4]) >= int(test_pd_no_nan.loc[id][5]):#если salary_from больше salary_to, то заполняем список salary_from
        kazan.append(int(test_pd_no_nan.loc[id][4]))
      else:
        kazan.append(int(test_pd_no_nan.loc[id][5]))
    else:
      kazan.append(int(test_pd_no_nan.loc[id][5]))

  elif test_pd_no_nan.loc[id][11] == 'Москва':
    id_msk.append(id)
    if int(test_pd_no_nan.loc[id][4]) > 0:
      if int(test_pd_no_nan.loc[id][4]) >= int(test_pd_no_nan.loc[id][5]):
        msk.append(int(test_pd_no_nan.loc[id][4]))
      else:
        msk.append(int(test_pd_no_nan.loc[id][5]))
    else:
      msk.append(int(test_pd_no_nan.loc[id][5]))

  elif test_pd_no_nan.loc[id][11] == 'Новосибирск':
    id_nov.append(id)
    if int(test_pd_no_nan.loc[id][4]) > 0:
      if int(test_pd_no_nan.loc[id][4]) >= int(test_pd_no_nan.loc[id][5]):
        nov.append(int(test_pd_no_nan.loc[id][4]))
      else:
        nov.append(int(test_pd_no_nan.loc[id][5]))
    else:
      nov.append(int(test_pd_no_nan.loc[id][5]))

  elif test_pd_no_nan.loc[id][11] == 'Самара':
    id_sam.append(id)
    if int(test_pd_no_nan.loc[id][4]) > 0:
      if int(test_pd_no_nan.loc[id][4]) >= int(test_pd_no_nan.loc[id][5]):
        sam.append(int(test_pd_no_nan.loc[id][4]))
      else:
        sam.append(int(test_pd_no_nan.loc[id][5]))
    else:
      sam.append(int(test_pd_no_nan.loc[id][5]))

  elif test_pd_no_nan.loc[id][11] == 'Санкт-Петербург':
    id_spb.append(id)
    if int(test_pd_no_nan.loc[id][4]) > 0:
      if int(test_pd_no_nan.loc[id][4]) >= int(test_pd_no_nan.loc[id][5]):
        spb.append(int(test_pd_no_nan.loc[id][4]))
      else:
        spb.append(int(test_pd_no_nan.loc[id][5]))
    else:
      spb.append(int(test_pd_no_nan.loc[id][5]))

  elif test_pd_no_nan.loc[id][11] == 'Саратов':
    id_sar.append(id)
    if int(test_pd_no_nan.loc[id][4]) > 0:
      if int(test_pd_no_nan.loc[id][4]) >= int(test_pd_no_nan.loc[id][5]):
        sar.append(int(test_pd_no_nan.loc[id][4]))
      else:
        sar.append(int(test_pd_no_nan.loc[id][5]))
    else:
      sar.append(int(test_pd_no_nan.loc[id][5]))

  elif test_pd_no_nan.loc[id][11] == 'Тамбов':
    id_tamb.append(id)
    if int(test_pd_no_nan.loc[id][4]) > 0:
      if int(test_pd_no_nan.loc[id][4]) >= int(test_pd_no_nan.loc[id][5]):
        tamb.append(int(test_pd_no_nan.loc[id][4]))
      else:
        tamb.append(int(test_pd_no_nan.loc[id][5]))
    else:
      tamb.append(int(test_pd_no_nan.loc[id][5]))


print(kazan, msk, spb, sam, sar, nov, tamb, sep='\n')

In [ ]:
sam

In [356]:
#посчитаем среднее всех городов: сумма, деленная на кол-во
#Среднее казань
counter_kaz = 0
summ_kaz = sum(kazan)


for i in kazan:
   counter_kaz += 1


srednee_kaz = summ_kaz / counter_kaz
srednee_kaz


#msk
counter_msk = 0
summ_msk = sum(msk)


for i in msk:
   counter_msk += 1


srednee_msk = summ_msk / counter_msk
srednee_msk


#nov
counter_nov = 0
summ_nov = sum(nov)


for i in nov:
   counter_nov += 1


srednee_nov = summ_nov / counter_nov
srednee_nov


#sam
counter_sam = 0
summ_sam = sum(sam)


for i in sam:
   counter_sam += 1


srednee_sam = summ_sam / counter_sam
srednee_sam


#spb
counter_spb = 0
summ_spb = sum(spb)


for i in spb:
   counter_spb += 1


srednee_spb = summ_spb / counter_spb
srednee_spb


#sar
counter_sar = 0
summ_sar = sum(sar)


for i in sar:
   counter_sar += 1


srednee_sar = summ_sar / counter_sar
srednee_sar


#tamb
counter_tamb = 0
summ_tamb = sum(tamb)


for i in tamb:
   counter_tamb += 1


srednee_tamb = summ_tamb / counter_tamb
srednee_tamb

city_slovar = {'Казань':srednee_kaz, 'Москва':srednee_msk, 'Новосибирск':srednee_nov, 'Самара':srednee_sam,
               'Санкт-Петербург':srednee_spb, 'Саратов':srednee_sar, 'Тамбов':srednee_tamb}

# for a, b in city_slovar.items():
#   if a == 'Казань':
#     city_slovar['a'] = srednee_kaz
#   elif a == 'Москва':
#     city_slovar['a'] = srednee_msk
#   elif a == 'Новосибирск':
#     city_slovar['a'] = srednee_nov
#   elif a == 'Самара':
#     city_slovar['a'] = srednee_sam
#   elif a == 'Санкт-Петербург':
#     city_slovar['a'] = srednee_spb
#   elif a == 'Саратов':
#     city_slovar['a'] = srednee_sar
#   elif a == 'Тамбов':
#     city_slovar['a'] = srednee_tamb

print(city_slovar)

{'Казань': 30000.0, 'Москва': 64137.93103448276, 'Новосибирск': 0.0, 'Самара': 0.0, 'Санкт-Петербург': 88809.52380952382, 'Саратов': 0.0, 'Тамбов': 250000.0}

{'Казань' 30 000,
 'Москва' 64 137,
 'Новосибирск' 0,
 'Самара' 0,
 'Санкт-Петербург' 88 809,
 'Саратов' 0,
 'Тамбов' 250 000}

In [ ]:
pd

#### 5. Напишите функцию для поиска вакансий по переданным в нее значениям заработной платы, наличия тестового задания, наличия заданного текста в наименовании вакансии, наличия заданного навыка. В результате выведите количество найденных вакансий, среднюю заработную плату по найденным вакансиям и список ссылок найденных вакансий.

In [ ]:
# ВАШ КОД ЗДЕСЬ

['500000']

#### *Необязательно*. Усложненный вариант - сделать атрибуты функции опциональными, чтобы иметь возможность фильтрации вакансий по любой комбинации условий.

In [ ]:
# ВАШ КОД ЗДЕСЬ